
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 276px;
  background-color: #302E53;

}

.wrapper {
  display: flex;
  align-items: flex-start;
  height: 200px;
}

.logo-img{
  height: 100px;
  align-self: center;
  margin: 18px;
}

.logo{
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
  color: #d08017;
  font-weight: bold;
}

.logo:hover {
  opacity: 90%;
  color: #D07017;
  transition: 0.1s;
}
